/* Remove margens e preenchimentos padrão de todos os elementos */
* {
    margin: 0 !important;
    padding: 0 !important;
}

/* Define a fonte e a cor de fundo do corpo da página */
body {
    font-family: 'Open Sans', sans-serif !important;
    background-color: #1E1E1E !important;
}

/* Estiliza o cabeçalho da página */
header {
    background-color: #3F3F3F !important;
    color: rgb(255, 255, 255) !important;
    padding: 0.1em !important;
    width: 100% !important;
}

/* Estiliza o rodapé da página */
footer {
    /* padding-top: 4em !important; */
    background-color: #3F3F3F !important;
    color: white !important;
    text-align: center !important;
    padding: 0.2em !important;
}

/* Define a estrutura do formulário */
form {
    display: flex !important;
    flex-direction: column !important;
}

/* Estiliza os rótulos (labels) dos inputs */
label {
    margin-top: 10px !important;
    font-size: 16px !important;
    text-align: left !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 20px auto !important;
}

/* Estiliza os campos de entrada (inputs) */
input {
    padding: 10px !important;
    border: none !important;
    border-radius: 16px !important;
    font-size: 16px !important;
    text-align: right;
    width: 340px !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0px auto !important;
}

/* Estiliza o botão de cálculo */
button {
    display: flex;
    width: 140px !important;
    height: 50px !important;
    background-color: #555 !important;
    color: white !important;
    padding: 10px !important;
    margin-top: 20px !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 20px auto !important;
    transition: background-color 0.3s ease;
}

/* Altera a cor do botão ao passar o mouse */
button:hover {
    background-color: #444 !important;
}

/* Define o tamanho do texto do rodapé */
.txtFooter {
    font-size: 16px !important;
}

/* Estiliza a caixa do logotipo */
.box_logo {
    text-align: center !important;
    margin-top: 0.7em !important;
}

/* Define o tamanho e formato do logotipo */
.logo {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
}

/* Estiliza o texto do nome da empresa */
.txtenpresa {
    text-align: left !important;
    font-size: 50px !important;
    text-decoration: none !important;
    color: #3251A0 !important;
}

/* Estiliza os containers de entrada e resultado */
.container {
    padding: 30px !important;
    border-radius: 10px !important;
}

.container2 {
    padding: 0px !important;
    border-radius: 10px !important;
    width: 40% !important;
    margin: 50px auto !important;
    background-color: #ffffff !important;
    margin-top: 3.5em !important;
    border-radius: 16px !important;
    text-align: center !important;
    margin-bottom: 20px !important;
    letter-spacing: 1px !important;
    word-spacing: 5px !important;
    gap: 11px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

/* Estiliza os valores exibidos */
.valuer {
    font-size: 20px;
}

/* Estiliza o fundo do conteúdo principal */
.conteudo {
    background-color: #0796BD !important;
    padding: 0em !important;
    margin-top: 3.5em !important;
    border-radius: 16px !important;
    width: 100% !important;
    text-align: center !important;

}

/* Estiliza o título do conteúdo */
.titileConteudo {
    padding-top: 2em !important;
    text-align: center !important;
    color: white !important;
}

/* Define o tamanho do título principal */
.txtTitile {
    font-size: 50px !important;
}

/* Define as margens do conteúdo principal */
.Principal {
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-top: 2% !important;
    margin-bottom: 1% !important;
}

/* Estilos para telas menores (responsividade) */
@media (min-width: 200px) and (max-width: 1024px) {

    .box_logo {
        padding-left: 1em !important;
        padding-bottom: 1em !important;
    }

    .logo {
        width: 37px !important;
        height: 37px !important;
        border-radius: 50% !important;
    }

    .txtenpresa {
        padding-left: 2em !important;
        font-size: 25px !important;
    }

    .txtEn {
        padding-top: 2.2% !important;
    }

    .container {
        width: 100%;
    }

    .container2 {
        width: 65% !important;
    }

    .valuer {
        font-size: 15px;
    }

    .container2 h2 {
        font-size: 17px;
    }

    .txtTitile {
        font-size: 25px !important;
    }

    .Principal {
        text-align: center;
        margin-left: 10% !important;
        margin-right: 10% !important;
        margin-top: 1% !important;
        margin-bottom: 50% !important;
    }

    input {
        width: 225px !important;
    }
}
